@model PaginationViewModel<CategoryGetVM>

@{
    ViewData["Category"] = "Categories";
}

<div class="container">
    <h1>Category list</h1>
    <a asp-area="admin" asp-controller="category" asp-action="create" class="btn btn-info">Create new</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items ?? null)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>@item.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@(item.UpdatedAt?.ToString("dd.MM.yyyy HH:mm"))</td>
                    <td class="d-flex gap-2">
                        <a class="btn btn-warning" asp-area="admin"
                           asp-controller="category"
                           asp-action="edit"
                           asp-route-id="@item.Id"
                           method="post"><i class="fas fa-edit"></i></a>
                        <form asp-area="admin"
                              asp-controller="category"
                              asp-action="remove"
                              asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>

                </tr>
            }


        </tbody>
    </table>
    <nav>
        <ul class="pagination">

            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@(Model.PageIndex - 1)">
                        Previous
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@i">
                        @i
                    </a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@(Model.PageIndex + 1)">
                        Next
                    </a>
                </li>
            }

        </ul>
    </nav>
    <a class="btn btn-light" asp-area="admin" asp-controller="dashboard" asp-action="index">Go back</a>
</div>
