@model PaginationViewModel<SliderGetVM>

@{
    ViewData["Slider"] = "Sliders";
}

<div class="container">
    <a asp-area="admin" asp-controller="slider" asp-action="create" class="btn btn-info">Create new</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Heading</th>
                <th scope="col">Text</th>
                <th scope="col">Image</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">UpdatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var slider in Model.Items ?? null)
            {
                <tr>
                    <th scope="row">@slider.Id</th>
                    <td>@slider.Heading.ToUpper()</td>
                    <td>@slider.Text.ToUpper()</td>
                    <td style="width: 80px;">
                        <img class="img-thumbnail"
                             style="width: 60px; height: 60px; object-fit: cover;" src="@slider.ImageUrl" />
                    </td>
                    <td>@slider.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@(slider.UpdatedAt?.ToString("dd.MM.yyyy HH:mm"))</td>
                    <td class="d-flex gap-2">
                        <a class="btn btn-warning" asp-area="admin"
                        asp-controller="slider"
                        asp-action="edit"
                        asp-route-id ="@slider.Id"
                        method="post"><i class="fas fa-edit"></i></a>
                        <form asp-area="admin"
                              asp-controller="slider"
                              asp-action="remove"
                              asp-route-id="@slider.Id">
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>

                    </tr>
            }

            
        </tbody>
    </table>
    <nav>
        <ul class="pagination">

            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@(Model.PageIndex - 1)">
                        Previous
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@i">
                        @i
                    </a>
                </li>
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index"
                       asp-route-page="@(Model.PageIndex+1)">
                        Next
                    </a>
                </li>
            }

        </ul>
    </nav>
</div>
